logs
target
.cache-main
.cache-tests
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/bin/
/docu/.*
/docu/latex/tmp/
/docu/latex/*.aux
/docu/latex/*.log
/docu/latex/.*
logs
target
.cache-main
.cache-tests
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/bin/
/docu/latex/tmp/
/docu/latex/*.aux
/docu/latex/*.log
/docu/latex/*.gz
/docu/v001/.gitignore
/docu/v001/latex/*.dvi
/docu/v001/latex/*.aux
/docu/v001/latex/*.log
/docu/v001/latex/*.pdf
