logs
target
.cache-main
.cache-tests
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/bin/
/docu/.*
logs
target
.cache-main
.cache-tests
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/bin/
/docu/logic_description/*.gz
/docu/*.gz